<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? 'Karender | ' + yield(:title) : "Karender"%></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= include_gon %>
    <%= javascript_include_tag 'application'%>
  </head>
  <body>
    <%= render 'header/header' %>
    <div class="container-fluid">
      <div class="row">
        <%= render 'sidebar/side_bar' %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
